<div class="row">
  <div class="columns medium-3">
  </div>
  <div class="columns medium-9">
    <ul class="no-bullet flex-column">
      {{#each favorites as |item|}}
        <li>
          {{#link-to "movie.detail" item.id}}
            {{movie-card item=item}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>

</div>
